<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- styles -->
<style>
body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
}
</style>

</head>

<body style = "background: #555; max-width: 500px; margin: auto; background: white; padding: 10px; background-color:#F9F9F9; text-align: center; padding-top: 60px;">
    <div>
        <div>
            <img src="https://www.spendwise.ng/static/assets/logo_email.png" /> <br><br>
        </div>
    </div>

    <div>
        <div class="banner">
            <div style="background-color: #001ac6; height: 35px; color: #fff; align-items: center; font-size: 25px;">
                <span style = "font-family: Nunito Sans;"> {{email_heading}} </span>
            </div>
            <div class="action-details">
                <h2 class="bold-text" style = "font-family: Nunito Sans;">Hello {{user.username }}!</h2>
            </div>


            <div>
                <span style = "font-size: 19px; font-family: Nunito Sans;">Spending just got better!!!!  We are really excited about the excellent upgrade we've made over this past months.</span>
                <br><br>
            </div>

            <div>
                <span style = "font-size: 19px; font-family: Nunito Sans;">So, let us start from saying thank you for trusting us in using the SpendWise app beta version.
                The test was great, we got feedbacks and identified bottlenecks. <br>
                We have made a big progress in an upgrade that makes managing your finances even easier 10x... Omooo X 10.  <br>E choke!!</span>
                <br><br>
            </div>

            <div>
                <span style = "font-size: 19px; font-family: Nunito Sans;">We have updated our app which now allows you connect your banks seemlessly through a new infrastructure, and you can get started right now!</span>
                <br><br>
            </div>


            <div>
                <span style = "font-size: 19px; font-family: Nunito Sans;">Cheers to time to better spend and better save now 😊😉.</span>
                <br><br>
            </div>


            <div>
                <span style = "font-size: 19px; font-family: Nunito Sans;">Click <a href="https://play.google.com/store/apps/details?id=com.spendwise.spendwiseapp">here</a> to get the updated app from playstore</span>
                <br><br>
            </div>


             <div>
                <span style = "font-size: 19px; font-family: Nunito Sans;">Thanks and spend better!</span>
                <br><br>
            </div>

        </div>
        <div class="store-image-wrap" style="text-align: center;">
            <a href="https://play.google.com/store/apps/details?id=com.spendwise.spendwiseapp">
            <img class="store-image" src="https://www.spendwise.ng/static/assets/storeimages.png" />
            </a>
        </div>
        <div class="footer" >
            <div>
                <ul style="list-style-type:none; font-size: 15px; font-family: Nunito Sans; text-align: center;">
                    <li>The SpendWise Team</li>
                    <li>Lagos, Nigeria</li>
                    <li>(Mon- Fri from 9am to 5pm)</li>
                    <li>Email: admin@spendwise.ng</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>